.navbar-nav > li > a, .navbar-brand {
	background-color: #D33B1F;
	color: white;
}

.logo-location {
	height: 200px;
}

.logo-header {
	max-height: 100%;
	padding-left: 100px;
	padding-top: 80px;
	max-width: 100%;
}

.navigation {
	margin-top: 130px;
}
